html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: #00548E;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#logo, #svg {
	display: none;
}

.tilt {
	position: fixed;
	top: 0;
	left: 0;
	background: red;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	marin-top: -15px;
	margin-left: -15px;
	z-index: 2222;
}

.social {
	list-style-type: none;
	padding: 0;
	position: absolute;
	bottom: 22px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

a {
	text-decoration: none;
}

.social__icon {
	color: #fff;
	font-size: 20px;
	// width: 18px;
	// height: 18px;
	// background: #fff;
	padding: 0 10px;
	margin: 0 12px;
	display: inline-block;
}