html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#logo, #svg {
	display: none;
}

.tilt {
	position: fixed;
	top: 0;
	left: 0;
	background: red;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	marin-top: -15px;
	margin-left: -15px;
	z-index: 2222;
}